@font-face {
    font-family: Poppins;
    src: url(./Poppins-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
}
.myfont-Poppins {
    font-family: Poppins;
}
.myfont-Inter {
    font-family: Inter;
}
p,
span,
section,
button,
button > span {
    font-family: Poppins;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
   background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #a1ff8e;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #1eff00;
}

